.summonerpage{
  .container-fluid{
    min-height: 100vh;
    background-image: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Vayne_6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}